# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/webapp/node_modules
/webapp/.pnp
/webapp/.pnp.*
/webapp/.yarn/*
!/webapp/.yarn/patches
!/webapp/.yarn/plugins
!/webapp/.yarn/releases
!/webapp/.yarn/versions

# testing
/webapp/coverage

# next.js
/webapp/.next/
/webapp/out/

/# production
/webapp/build

# misc
/webapp/.DS_Store
/webapp/*.pem

# debug
/webapp/npm-debug.log*
/webapp/yarn-debug.log*
/webapp/yarn-error.log*

# env files (can opt-in for committing if needed)
/webapp/.env*
!/webapp/.env.example

# vercel
/webapp/.vercel

# typescript
/webapp/*.tsbuildinfo
/webapp/next-env.d.ts

*storybook.log
